* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: auto;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .inner-container {
  width: 90%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
.container .inner-container .box-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.container .inner-container .box-container #box {
  height: 150px;
  width: 150px;
  background-color: #ee00ff;
  box-shadow: calc(var(--x-position, 4) * 1px) calc(var(--y-position, 4) * 1px) calc(var(--blur, 10) * 1px) calc(var(--spread, 0) * 1px) var(--shadow-color, #000);
}
.container .inner-container .sidebar {
  width: 20%;
  background-color: rgba(218, 218, 218, 0.549);
  padding: 10px 20px;
}
.container .inner-container .sidebar form {
  display: flex;
  flex-direction: column;
}
.container .inner-container .sidebar form .label_and_value {
  margin-top: 10px;
  width: 100%;
}
.container .inner-container .sidebar form .label_and_value label {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
}
.container .inner-container .sidebar form .label_and_value .value {
  float: right;
  padding-right: 10px;
}
.container .inner-container .sidebar form input:not([type=color]) {
  padding: 0.25em 0em;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid transparent;
  border-radius: 0.3em;
  outline: none;
}
.container .inner-container .sidebar form input:not([type=color]):focus {
  border-color: #0AF;
}
.container .inner-container .sidebar form input[type=color] {
  width: 100%;
  border-radius: 0.3em;
  background-color: white;
  border: none;
  cursor: pointer;
}
.container .inner-container .sidebar form button {
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(56, 191, 10);
  color: #fff;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
}
.container .inner-container .sidebar form button:hover {
  background-color: rgb(43, 150, 7);
}
.container .inner-container .sidebar .ad-area {
  height: 200px;
  width: 200px;
  border: 1px solid #000;
  background-color: red;
}
.container .result {
  width: 400px;
  height: 60px;
  padding: 0px 0px 0px 5px;
  background-color: rgba(218, 218, 218, 0.549);
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container .result i {
  padding: 0px 10px;
  color: #0AF;
  height: 60px;
  line-height: 60px;
  border-left: 1px solid;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.2s all ease-in-out;
}
.container .result i:hover {
  background-color: rgb(12, 135, 197);
  color: #fff;
}

@media (min-width: 430px) and (max-width: 800px) {
  .container .inner-container {
    width: 100%;
  }
  .container .inner-container .sidebar {
    width: 30%;
    margin-left: 10px;
  }
  .container .inner-container .box-container {
    width: 70%;
  }
}
@media (max-width: 430px) {
  .container .inner-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .inner-container .sidebar {
    width: 95%;
  }
  .container .inner-container .box-container {
    width: 100%;
    margin: 30px 0px;
  }
  .container .result {
    width: 95%;
    height: 40px;
    font-size: 12px;
    margin-top: 30px;
  }
  .container .result i {
    height: 40px;
    font-size: 20px;
    line-height: 40px;
  }
}/*# sourceMappingURL=style.css.map */