* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  height: auto;
  min-height: 530px;
  margin: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .inner-container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .inner-container .box-container {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
}

.container .inner-container .box-container #box {
  height: 150px;
  width: 250px;
  background-color: #FFD700;
}

.container .inner-container .box-container #box {
  border-top: calc(var(--top, 3) * 1px) var(--top_type, solid) var(--top_color, #df0101);
}

.container .inner-container .box-container #box {
  border-bottom: calc(var(--bottom, 3) * 1px) var(--bottom_type, solid) var(--bottom_color, #df0101);
}

.container .inner-container .box-container #box {
  border-left: calc(var(--left, 3) * 1px) var(--left_type, solid) var(--left_color, #df0101);
}

.container .inner-container .box-container #box {
  border-right: calc(var(--right, 3) * 1px) var(--right_type, solid) var(--right_color, #df0101);
}

.container .inner-container .sidebar {
  width: 30%;
  background-color: rgba(218, 218, 218, 0.549);
  padding: 10px 20px;
}

.container .inner-container .sidebar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .inner-container .sidebar form .label_and_value {
  margin-top: 10px;
  width: 100%;
}

.container .inner-container .sidebar form .label_and_value label {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
}

.container .inner-container .sidebar form .label_and_value .value {
  float: right;
  padding-right: 10px;
}

.container .inner-container .sidebar form .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.container .inner-container .sidebar form .inputs input:not([type="color"]) {
  padding: .25em 0em;
  width: 30%;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid transparent;
  border-radius: .3em;
  outline: none;
}

.container .inner-container .sidebar form .inputs .sidebar-dropdown #dropdownMenuButton {
  width: 100%;
  overflow-y: auto;
  border: none;
}

.container .inner-container .sidebar form .inputs .sidebar-dropdown .dropdown-menu .label_and_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .inner-container .sidebar form .inputs .sidebar-dropdown .dropdown-menu .label_and_input label {
  margin: 0;
  padding: 0;
  margin-left: -12px;
}

.container .inner-container .sidebar form .inputs input:not([type="color"]):focus {
  border-color: #0AF;
}

.container .inner-container .sidebar form .inputs input[type="color"] {
  width: 30%;
  border-radius: .3em;
  background-color: white;
  border: none;
  cursor: pointer;
}

.container .result_and_copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.container .result_and_copy .result {
  height: auto;
  padding: 0px 5px;
  background-color: rgba(218, 218, 218, 0.549);
  font-size: 18px;
}

.container .result_and_copy i {
  padding: 10px 15px;
  color: #0AF;
  border: 1px solid;
  cursor: pointer;
  margin-top: 10px;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.container .result_and_copy i:hover {
  background-color: #0c87c5;
  color: #fff;
}

footer {
  border-top: 1px solid #fff;
  color: #c5c5c5;
  text-align: center;
  margin-top: 30px;
  padding: 5px 0px;
  width: 100%;
  background-color: #000;
}

footer h4 {
  font-size: 18px;
}

footer a {
  color: #ee00ff;
  text-decoration: none;
}

footer a:hover {
  color: #b908c5;
  text-decoration: none;
}

@media (min-width: 430px) and (max-width: 800px) {
  .container .inner-container {
    width: 100%;
  }
  .container .inner-container .sidebar {
    width: 40%;
    margin-left: 10px;
  }
  .container .inner-container .box-container {
    width: 60%;
  }
  .container .inner-container .box-container #box {
    width: 230px;
  }
}

@media (max-width: 430px) {
  .container .inner-container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .inner-container .sidebar {
    width: 95%;
  }
  .container .inner-container .box-container {
    width: 100%;
    margin: 30px 0px;
  }
  .container .result_and_copy {
    width: 95%;
  }
  .container .result_and_copy .result {
    height: 40px;
    overflow-y: auto;
    width: 95%;
    font-size: 12px;
  }
  .container .result_and_copy i {
    font-size: 16px;
  }
}

footer h4 {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */